#header {
	z-index: 1;
	position: relative;
	margin: 20px 20px 0px 20px;
	height: 70px;
	background-color: black;
	text-align: center;
	padding-top: 25px;
	color: white;
}

body {
	background-color: #363636;
	color: white;
	font-family: verdana, helvetica, sans-serif;
	font-size: 18px;
}

form {
    font-size: 1.1em;
        
}

div, #header {
	border-radius: 5px;
	background-color: #000;
}

.separator {
    padding: 10px;
}
    
.styled-tbox {
    width: 120px;
    height: 30px;
	border-radius: 0px;
	background-color: #363636;
	border-color: #363636;
    color: white;
    padding: 5px;
    }    

.styled-submit {
	float: center;
	width: 86%;
    height: 40px;
	border-radius: 0px;
	background-color: #363636;
	border-color: #363636;
    color: white;
    padding: 5px;
}

.center-align {
	text-align: center;
}


#divider {
    height: 15px;
    background-color: #A1FFFF;
    margin: 0px 20px;
    border-radius: 0px;
}

.styled-select {
    padding: 10px 16px;
    border: none;
    box-shadow: none;
    background: #363636;
    color: white;
    width: 120px;
    height: 30px;
}

#maincontent {
	text-align: center;
	position: relative;
	float: left;
	width: 66%;
	height: 700px;
	margin-left: 20px;
	padding: 20px;
}

#home-maincontent {
	text-align: center;
	position: relative;
	float: left;
	width: 66%;
	height: 700px;
	margin-left: 20px;
	padding: 20px;
/*background-image: url('minions.jpg');	
background-size: 100%;*/
}

.styled-cbox {
	background: #363636;
	width: 25px;
	height: 12px;
	padding: 11px 24px;
    cursor: pointer;
    /*overflow: hidden;*/
    /*display: inline-block;*/
    /*border-radius: 0px;*/
}

#nav-sidebar {
	position: relative;
	float: right;
	width: 23%;
	height: 700px;
	margin-right: 20px;
	padding: 20px;
	text-align: right;
}

ul {
    list-style-type: none;
}

#genre-list {
	-moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    text-align: left;
}

a {
	color: #A1FFFF;
}

a:hover {
	color: #6E66FF;
}

a:link {
    text-decoration: none;
}
